<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
    
</head>
<header>
    <div id="menu">

        <li id="logo">
            <img src="img/fernan.png" width="100" style="float: left; margin-right: 10px; border: 2px rgb(0, 0, 0) solid;">

            Fernan David De hoyos <br>
            21 Años de edad <br>
            Estudiante Ing. sistemas <br>
            Universidad de cordoba <br> 
            
            <a href="www.facebook.com"> <img src="img/facebook-logo.svg" width="20"></a>
            <a href="https://github.com/FernanDeHoyos11"><img src="img/github-logo.svg" width="20"></a>
        </li>
         <li><a id="a1" href="semestre">Semestre</a> </li>
        <li><a id="a2" href="login" title="Menu">Home</a> </li>
        <li><a id="a3" href="perfil">Perfil</a> </li>

    </div>
</header>
<body>
    <div id="main_conteiner">

            <div class="contenedor">
                <div class="elemento">
                    <div class="titulo">
                        Ing. Sistemas - primer semestre - 2019-01
                    </div>
                    <div class="descripcion">
                        <li>Calculo I <img src="img/Chulo.png" width="15px"></li>
                        <li>Algebra Lineal <img src="img/Chulo.png" width="15px"></li>
                        <li>Introduccion a la Ing. de sistemas <img src="img/Chulo.png" width="15px"></li>
                        <li>Aprendisaje autonomo <img src="img/Chulo.png" width="15px"></li>
                        <li>Logica Computacional <img src="img/Chulo.png" width="15px"></li>
                        <li>Universidad y contexto <img src="img/Chulo.png" width="15px"></li>
                        
                    </div>
                     
                </div>
                <div class="elemento">
                    <div class="titulo">
                        Ing. Sistemas - segundo semestre - 2019-02
                    </div>
                    <div class="descripcion">
                        <li>Calculo II <img src="img/Chulo.png" width="15px"></li>
                        <li>Programacion I <img src="img/Chulo.png" width="15px"></li>
                        <li>Fisica I <img src="img/Chulo.png" width="15px"></li>
                        <li>Ingles I <img src="img/Chulo.png" width="15px"></li>
                        <li>Teoria general de sistemas <img src="img/Chulo.png" width="15px"></li>
                        <li>Competencias comunicativas <img src="img/Chulo.png" width="15px"></li>
                    </div>
                </div>
                <div class="elemento">
                    <div class="titulo">
                        Ing. Sistemas - tercer semestre - 2020-01
                    </div>
                    <div class="descripcion">
                        <li>Calculo III <img src="img/Chulo.png" width="15px"></li>
                        <li>Programacion II <img src="img/Chulo.png" width="15px"></li>
                        <li>Ingles II <img src="img/Chulo.png" width="15px"></li>
                        <li>Fisica II <img src="img/Chulo.png" width="15px"></li>
                        <li>Humanidades <img src="img/Chulo.png" width="15px"></li>
                    </div>
                </div>
                <div class="elemento">
                    <div class="titulo">
                        Ing. Sistemas - cuarto semestre - 2020-02
                    </div>
                    <div class="descripcion">
                        <li>Ecuaciones diferenciales <img src="img/Chulo.png" width="15px"></li>
                        <li>Fisica III <img src="img/Chulo.png" width="15px"></li>
                        <li>Programacion III <img src="img/Chulo.png" width="15px"></li>
                        <li>Ingles III <img src="img/Chulo.png" width="15px"></li>
                        <li>Analisis D. de sistemas <img src="img/Chulo.png" width="15px"></li>
                    </div>
                </div>
                <div class="elemento">
                    <div class="titulo">
                        Ing. Sistemas - quinto semestre - 2021-01
                    </div>
                    <div class="descripcion">
                        <li>Electronica I<img src="img/Chulo.png" width="15px"></li>
                        <li>Metodos Numericos <img src="img/Chulo.png" width="15px"></li>
                        <li>Bases de datos I <img src="img/Chulo.png" width="15px"></li>
                        <li>Ingles IV <img src="img/Chulo.png" width="15px"></li>
                        <li>Analisis D. de sistemas II <img src="img/Chulo.png" width="15px"></li>
                    </div>
                </div>

                <div class="elemento">
                    <div class="titulo">
                        Ing. Sistemas - sexto semestre - 2021-02
                    </div>
                    <div class="descripcion">
                        <li>Electronica II <img src="img/Chulo.png" width="15px"></li>
                        <li>Estadistica <img src="img/Chulo.png" width="15px"></li>
                        <li>Bases de datos II  <img src="img/Chulo.png" width="15px"></li>
                        <li>Emprendimiento e innovacion tecnologica <img src="img/Chulo.png" width="15px"></li>
                        
                    </div>
                </div>

                <div class="elemento" >
                     
                    <div class="titulo">
                        Ing. Sistemas - septimo semestre - 2022-01
                    </div>
                    <div class="descripcion">
                        <li >Programacion lineal <img src="img/Chulo.png" width="15px"></li>
                        <li >Estadistica II <img src="img/Chulo.png" width="15px"></li>
                        <li>Ingenieria de software <img src="img/Chulo.png" width="15px"> </li>
                        <li>Telematico <img src="img/Chulo.png" width="15px"></li>
                        <li style="color: red;">Metodologia de la investigacion </li>
                        <li>Economia general <img src="img/Chulo.png" width="15px"></li>
                    </div>
                </div>
                <div class="elemento">
                    <div  style="color: red;">(Semestre en curso)</div>
                    <div class="titulo">
                        Ing. Sistemas - octavo semestre - 2022-02
                    </div>
                    <div class="descripcion">
                        <li  style="color: red;">Programacion no lineal</li>
                        <li  style="color: red;">Arquitectura del computador</li>
                        <li>Sistemas operativos</li>
                        <li  style="color: red;">Funfamentos de administracion</li>
                        <li  style="color: red;">Constitucion politica y democratica</li>
                    </div>
                </div>
                <div class="elemento">
                    <div class="titulo">
                        Ing. Sistemas - noveno semestre - 2023-01
                    </div>
                    <div class="descripcion">
                        <li>Procesos Estocas.</li>
                        <li>Teoria de grafos</li>
                        <li>Seminario de investigacion</li>
                        <li>Formulacion y evaluacionde proyecto</li>
                       
                    </div>
                </div>

                <div class="elemento">
                    <div class="titulo">
                        Ing. Sistemas - decimo semestre - 2023-02
                    </div>
                    <div class="descripcion">
                        <li>Simulacion</li>
                        <li>Trabajo grado</li>
                        <li>Etica profecional</li>
                         
                    </div>
                </div>

                
            </div> 
             <div  >
                 <a class="cintia" href="https://cintia.unicordoba.edu.co/my/">CINTIA</a> Campus virtual 
             </div>
             <div><a class="pcampus" href="http://powercampus.unicordoba.edu.co/Home.aspx"> Power Campus </a>accede a tu power campus </div>  
            </div>
            
        </header>
       
    </div>

      
</body>

</html>