<!DOCTYPE html>
<html lang="en">

<head>

  <head>

    <title>CV Fernan</title>
    <link rel="stylesheet" href="/styles/perfil.css">
  </head>
</head>
<header>
 
</header>
<body>




  <div class="cuerpo">
    <div class="contenido" style="padding-top:  0px;">
      <h2 style="padding-left: 2px; color: aliceblue; font-style: italic; border-right: solid 1px white; width: 300px; background-color: rgb(218, 253, 255); color: black; width: 100%; font-size:200%;">Fernan De hoyos</h2>
      <div class="Ifondo"><img class="image" src="img/fernan.png"></div>

      <div class="descripcion" >
         <h3 class="titulo">Sobre mi</h3>
        <p class="texto">
           
           Hola, me encuentro en la busqueda de oportunidades
          para crecer en el campo del desarrollo web y la programacion backend, actualmente me encuentro estudiando
          Ingenieria de sistemas y telecomunicaciones, java y python. Tengo conocimiento en la programacion con java
          y actualmente me encuentro aprendiendo python con flask, html y css para tener un poco de conocimiento en frontend.
        </p>
       
      </div>

      <div class="descripcionCon">
        <h3 class="titulo">Contacto</h3>
        <li class="contacto" >3136601690 </li> 
        <li class="contacto"> fernandehoyos93@gmail.com</li>
        <li class="contacto">   FernanDeHoyos11 </li>
      </div>

      <div class="habilidades">
        <h3 class="titulo">Habilidades</h3>
         <li class="skills"> Java </li>
         <li class="skills"> MySQL </li>
         <li class="skills"> Typescript </li>
         <li class="skills"> HTML, CSS y JS  </li>
         <li class="skills"> Node.js </li>
            
          
      </div>
    </div>
    <div class="cuerpoD">
       
       <div class="contenedor">
        <h1  style="border-block-end: solid 2px black;">Resumen</h1>
        <p>En formacion como INGENIERO DE SISTEMAS, cursando septimo semestre. 
          con trabajos academicos y personales que se encuentran en mi repositorio de GitHub,
          apacionado por la tecnologia y sus conocimientos en las mismas, destresas en el desarrollo de software
          eficiencia en trabajo bajo precion y aprendiendo.
           
        </p>
        <h2 style="border-block-end: solid 2px black;">Habilidades principales</h2>
         <li>Java</li>
         <li>Mysql</li>
         <li>NodeJs</li>
         <li>Typescript</li>
         <li>Documentacion de proyectos</li>
         <li>Resolucion de problemas</li>
         <li>Pensamiento creativo</li>
       </div>
       <div class="contenedorEs">
         <h1  style="border-block-end: solid 2px black;">Formacion academica</h1>
         <li style="list-style:none ;"><h2 style="padding-left: 0px;">Universidad de Cordoba  </h2> 2019 - actualidad</li>
         <li style="list-style:none ;"><h2 style="padding-left: 3px;">Udemy</h2> Creación de API REST con Node Js y SQL Server</li>
         <li style="list-style:none ;"><h2 style="padding-left: 3px;">Platzi</h2>  Curso de Programación Básica</li>
        
       </div>

       <div class="enlaces">
<h1 style="border-block-end: solid 2px black; padding-block-end: 0px;">Proyectos</h1>
<li><a class="link" href="https://github.com/FernanDeHoyos11/login">Java con MySQL: Registro materias universidad</a></li> 
<li><a class="link" href="">Java con MySQL: Control base de datos Especie</a></li> 
<li><a class="link" href="https://github.com/FernanDeHoyos11/NodePerfil">Node.Js: Curriculum personalizado</a></li> 
<li><a class="link" href="https://github.com/FernanDeHoyos11/NodeDB">CRUD con GraphQl Typescript Js en Nodejs</a></li> 
<li><a class="link" href="https://github.com/FernanDeHoyos11/MyWebSite">Sitio web Perfil Publico Materias semestre</a></li> 


       </div>
      </div>
   



  </div>

  


</body>

</html>